.section {
   padding-bottom: 50px;
   color: $accent-text-color;

   @include media("xl-desktop") {
      padding-top: 50px;
   }

   .list {
      @include flex(center, center);
      flex-direction: column-reverse;
      gap: 20px;

      @include media("md-tablet") {
         flex-direction: row;
         align-items: start;
      }
   }

   .video {
      width: 250px;
      height: 350px;
      border-radius: 20px;
      overflow: hidden;
      box-shadow: $box-shadow;
   }

   img {
      width: 250px;
      height: 350px;

   }

   h2 {
      margin-bottom: 20px;
      @include h2();

      @include media("md-tablet") {
         text-align: start;
      }
   }

   .text {
      margin-bottom: 20px;
   }

   p {
      @include text();
   }

}