$xs-mobile: 320px;
$sm-mobile: 380px;
$sm-tablet: 576px;
$md-tablet: 768px;
$xl-desktop: 1200px;
$xxl-desktop: 1440px;


$primary-accent-color: #60B782;
$secondary-accent-color: #7272B8;
$beige-accent-color: #ab9f96ce;

$primary-bg-color: #e7eee7;
$secondary-bg-color: #f7f4f4;

$primary-text-color: #242424;
$secondary-text-color: #f7f4f4;
$accent-text-color: #346145;


$transition: 0.4s all ease-in-out;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;