$mobile: 320px;
$tablet: 768px;
$desktop: 1440px;


$primary-accent-color: #60B782;
$secondary-accent-color: #7272B8;

$primary-bg-color: #f7f4f4;

$primary-text-color: #242424;
$secondary-text-color: #f7f4f4;


$transition: 0.4s all ease-in-out;

$box-shadow: inset 8px 8px 8px 2px rgba(61, 130, 142, 0.2),
   8px 8px 8px 2px rgba(61, 130, 142, 0.2);
$btn-shadow: rgba(255, 251, 251, 0.35) 0px 5px 15px;