.box {
   @include flex(center, center);
   gap: 10px;
   padding-left: 20px;
   padding-right: 20px;


   button {
      @include arrowBtn();
   }

   .testimonialsList {
      display: grid;
      grid-template-columns: 1fr;

      @include media("md-tablet") {
         grid-template-columns: repeat(2, 1fr);
         align-items: start;
      }

      @include media("xl-desktop") {

         grid-template-columns: repeat(3, 1fr);
         grid-column-gap: 30px;

      }

      li {
         @include flex(center, center);
         flex-direction: column;
         gap: 20px;
         padding: 10px;

         img {
            width: 50%;
            height: auto;
            border-radius: 50%;
         }

         p {
            @include text();
            text-align: center;
         }

         h3 {
            @include h3();
         }



      }

   }
}