.box {
   gap: 10px;
   padding-left: 20px;
   padding-right: 20px;
}

.testimonialsList {
   .slick-list {
      display: flex;
      gap: 10px;
   }
}

.item {
   outline: none;
   padding: 0 30px;
   display: flex !important;
   flex-direction: column;
   gap: 10px;
   align-items: center;
   text-align: center;
}

.image {
   width: 200px;
   margin: auto;
   border-radius: 50%;
}