.hero {
   background-position: center;
   background-size: cover;
   height: 100vh;
   padding: 0 30px;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-direction: column;
   color: #fff;


   h1 {
      max-width: 800px;
      font-size: 40px;

      @include media("md-tablet") {
         font-size: 44px;
      }

      @include media("xl-desktop") {
         font-size: 60px;
      }


   }

   h2 {
      margin-top: 20px;
      max-width: 700px;
      font-size: 26px;
      font-weight: 700;

      @include media("md-tablet") {
         font-size: 28px;
      }

      @include media("xl-desktop") {
         font-size: 32px;
      }
   }
}