.hero {
   background-position: center;
   background-size: cover;
   height: 100vh;
   padding: 0 100px;
   @include flex(center, center);
   flex-direction: column;
   color: #fff;
   // дополнительные стили


   h1 {
      // стили для заголовка

      font-size: 50px;
      text-align: center;
   }

   h2 {
      font-size: 30px;
      text-align: center;

   }
}