.section {
   padding-top: 50px;

   @include media("md-tablet") {
      padding: 50px 0;
   }

}

.image {
   margin: auto;
   width: 80%;
   height: auto;
   object-fit: contain;
   border-radius: 20px;
}