.section {
   padding-top: 50px;
   padding-bottom: 50px;
   min-height: 620px;
   color: $accent-text-color;
   background: linear-gradient(rgba(207, 207, 207, 0.411),
         rgba(207, 207, 207, 0.411)), url('/images/homePage/8S1A4925.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   @include flex(center, center);

   @media (min-width: $sm-tablet) {
      min-height: 630px;
   }

   @media (min-width: $md-tablet) {
      min-height: 670px;
   }

   .container {

      padding-top: 20px;
      padding-bottom: 20px;

      background-color: $transparent-bg-color;
      border-radius: 20px;
   }

   h2 {
      margin-bottom: 20px;
      @include h2();
   }
}