.section {
   padding-top: 50px;
   padding-bottom: 50px;
   color: $accent-text-color;

   .container {
      h2 {
         margin-bottom: 20px;
         @include h2();
      }

      ul {
         @include flex(center, center);
         flex-direction: column;
         gap: 50px;

         @include media('md-tablet') {
            flex-direction: row;
            align-items: stretch;
            gap: 20px;
         }
      }

      li {
         @include flex(center, center);
         flex-direction: column;
         gap: 15px;
         padding: 25px;
         width: calc(100% - 5px);
         box-shadow: $box-shadow;
         @include text();
         background-color: $secondary-bg-color;
         border-radius: 20px;
      }

      img {
         width: 100%;
         height: auto;
         border-radius: 10px;

         @include media('md-tablet') {
            width: 100%;
         }
      }

      .descriptionBox {
         flex-grow: 2;
         width: 100%;
         text-align: center;

         h3 {
            margin-bottom: 20px;
            @include h3();
         }
      }

      a {
         @include btn();

         width: 100%;
         color: $primary-bg-color;
         background-color: $secondary-accent-color;

         &:hover,
         &:focus {
            background-color: $secondary-text-color ;
            color: $secondary-accent-color;
            box-shadow: $box-shadow;
         }
      }

   }
}